#tt {
    max-width: 50%;
    height: auto;
    position: left 0px !important;
    border-bottom-width: 40px;
}

#name {
    max-width: 30%;
    height: auto;
}

#jz1 {
    max-width: 80%;
    height: auto;
}

#footerpic {
    max-width: 40%;
    height: auto;
    margin: auto;
    bottom: 0 !important;
}

#navitem {
    position: right !important;
}


/* .row {
    display: flex;
    flex-direction: row;
} */